.header-page{
    font-family: sans-serif;
    width: 30vw;
    height: 100vh;
    background-color: #39a900;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name{
    margin-top:16px ;
    color: #fff;

}

.line{
    width: 15rem;
    height: 10px;
    background-color: #ffff;
    border: none;
    border-radius: 6px ;
}

.Items{
    color: #c1ff95;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px  #c1ff95;
}

.LogoSena{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: 3rem ;
    box-shadow:  2px 2px 1px 1px  #c1ff95;
}
